.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
}

.menubarIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    right: 1350px;
}

.mainlogo {
    position: absolute;
    width: 110px;
    height: 45px;
    top: -3px;
    right: 650px
    
}

.cartIcon {
    position: absolute;
    width: 30px;
    height: 30px; 
    right: 55px;
    top: -0.1px

}

.userIcon {
    position: absolute;
    width: 30px;
    height: 30px; 
    top: 1px;
    right: 10px
}